{% extends "base.html" %}
{% block title %}Purchased{% endblock %}
{% block content %}
<h1>Purchased</h1>

{% if items|length == 0 %}
  <p>You have no purchased flowers yet.</p>
{% else %}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for f in items %}
        <tr>
          <td>{{ f.title }}</td>
          <td>{{ f.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3>Total purchased: {{ total }}</h3>
{% endif %}

{% endblock %}